.figure-align-right {
  display: table;
  float: right;
  margin-left: 1rem;

  .figure-caption {
    display: table-caption;
    caption-side: bottom;
  }
}
.figure-align-left {
  display: table;
  float: left;
  margin-right: 1rem;

  .figure-caption {
    display: table-caption;
    caption-side: bottom;
  }
}
.figure-align-none {
  display: block;
  float: none;
  padding: 1rem;
  clear: both;
  background-color: $gray-lightest;
}

.figure-align-right,
.figure-align-left,
.figure-align-none {
  .figure-img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }
  .figure-caption {
    text-align: center;
  }
}
