//
// Negative margin
//

// @each $breakpoint in map-keys($grid-breakpoints) {
//   @include media-breakpoint-up($breakpoint) {
//     $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
//
//     @each $size, $lengths in $spacers {
//       $length-x:   map-get($lengths, x);
//       $length-y:   map-get($lengths, y);
//       @if $size != 0 {
//         .mn#{$infix}-#{$size}  { margin:        ($length-y * -1 ) ($length-x * -1 ) !important; }
//         .mnt#{$infix}-#{$size} { margin-top:    ($length-y * -1 ) !important; }
//         .mnr#{$infix}-#{$size} { margin-right:  ($length-x * -1 ) !important; }
//         .mnb#{$infix}-#{$size} { margin-bottom: ($length-y * -1 ) !important; }
//         .mnx#{$infix}-#{$size} {
//           margin-right: ($length-x * -1 ) !important;
//           margin-left:  ($length-x * -1 ) !important;
//         }
//         .mny#{$infix}-#{$size} {
//           margin-top:    ($length-y * -1 ) !important;
//           margin-bottom: ($length-y * -1 ) !important;
//         }
//       }
//     }
//   }
// }
