//
// Hide
//

.wg-title-hide > .widget > h2 {
  display: none !important;
}


//
// Font size
//

.wg-title-h1 > .widget > h2 {
  font-size: $font-size-h1;
}
.wg-title-h2 > .widget > h2 {
  font-size: $font-size-h2;
}
.wg-title-h3 > .widget > h2 {
  font-size: $font-size-h3;
}
.wg-title-h4 > .widget > h2 {
  font-size: $font-size-h4;
}
.wg-title-h5 > .widget > h2 {
  font-size: $font-size-h5;
}
.wg-title-h6 > .widget > h2 {
  font-size: $font-size-h6;
}


//
// Alignment
//

// Left
.wg-title-left > .widget > h2 {
  text-align: left;
}

// Center
.wg-title-center > .widget > h2 {
  text-align: center;
}

// Right
.wg-title-right > .widget > h2 {
  text-align: right;
}


//
// Color
//

.wg-title-gray-light {
  @include wg-title-variant($wg-gray-light-color)
}
.wg-title-gray-dark {
  @include wg-title-variant($wg-gray-dark-color)
}
.wg-title-white {
  @include wg-title-variant($wg-white-color)
}
.wg-title-black {
  @include wg-title-variant($wg-black-color)
}
.wg-title-red {
  @include wg-title-variant($wg-red-color)
}
.wg-title-orange {
  @include wg-title-variant($wg-orange-color)
}
.wg-title-yellow {
  @include wg-title-variant($wg-yellow-color)
}
.wg-title-green {
  @include wg-title-variant($wg-green-color)
}
.wg-title-blue {
  @include wg-title-variant($wg-blue-color)
}
.wg-title-teal {
  @include wg-title-variant($wg-teal-color)
}
.wg-title-pink {
  @include wg-title-variant($wg-pink-color)
}
.wg-title-purple {
  @include wg-title-variant($wg-purple-color)
}
