//
// Hide
//

.wg-title-hidden > .widget > h2 {
  display: none !important;
}


//
// Font size
//

.wg-title-h1 > .widget > h2 {
  font-size: $font-size-h1;
}
.wg-title-h2 > .widget > h2 {
  font-size: $font-size-h2;
}
.wg-title-h3 > .widget > h2 {
  font-size: $font-size-h3;
}
.wg-title-h4 > .widget > h2 {
  font-size: $font-size-h4;
}
.wg-title-h5 > .widget > h2 {
  font-size: $font-size-h5;
}
.wg-title-h6 > .widget > h2 {
  font-size: $font-size-h6;
}


//
// Alignment
//

// Left
.wg-title-left > .widget > h2 {
  text-align: left;
}

// Center
.wg-title-center > .widget > h2 {
  text-align: center;
}

// Right
.wg-title-right > .widget > h2 {
  text-align: right;

  > .indicator {
    float: left !important;
  }
}


//
// Colors
//

@include wg-title-variant('.wg-title-red', $wg-title-red);
@include wg-title-variant('.wg-title-pink', $wg-title-pink);
@include wg-title-variant('.wg-title-purple', $wg-title-purple);
@include wg-title-variant('.wg-title-deep-purple', $wg-title-deep-purple);
@include wg-title-variant('.wg-title-indigo', $wg-title-indigo);
@include wg-title-variant('.wg-title-blue', $wg-title-blue);
@include wg-title-variant('.wg-title-light-blue', $wg-title-light-blue);
@include wg-title-variant('.wg-title-cyan', $wg-title-cyan);
@include wg-title-variant('.wg-title-teal', $wg-title-teal);
@include wg-title-variant('.wg-title-green', $wg-title-green);
@include wg-title-variant('.wg-title-light-green', $wg-title-light-green);
@include wg-title-variant('.wg-title-lime', $wg-title-lime);
@include wg-title-variant('.wg-title-yellow', $wg-title-yellow);
@include wg-title-variant('.wg-title-amber', $wg-title-amber);
@include wg-title-variant('.wg-title-orange', $wg-title-orange);
@include wg-title-variant('.wg-title-deep-orange', $wg-title-deep-orange);
@include wg-title-variant('.wg-title-brown', $wg-title-brown);
@include wg-title-variant('.wg-title-grey', $wg-title-grey);
@include wg-title-variant('.wg-title-light-grey', $wg-title-light-grey);
@include wg-title-variant('.wg-title-deep-grey', $wg-title-deep-grey);
@include wg-title-variant('.wg-title-blue-grey', $wg-title-blue-grey);
@include wg-title-variant('.wg-title-black', $wg-title-black);
@include wg-title-variant('.wg-title-white', $wg-title-white);
