// Table of Contents
//
// Posts
// Navmenu
// Widget


//
// Posts
//

$post-margin-bottom:             $spacer-y !default;
$post-content-padding:           1.25rem !default;
$post-bg-color:                  #fff !default;
$post-border-color:              rgba(0,0,0,.125) !default;
$post-border-width:              1px !default;
$post-border-radius:             $border-radius !default;
$post-border-radius-inner:       calc(#{$post-border-radius} - #{$post-border-width}) !default;
$post-box-shadow:                0 1px 1px rgba(0,0,0,.05) !default;

$post-columns-sm-up-column-gap:  1rem !default;
$post-columns-md-up-column-gap:  1.25rem !default;

$post-title-margin-bottom:       .5rem !default;
$post-title-link-color:          inherit !default;
$post-title-link-hover-color:    #3f77a8 !default;

$post-header-padding:            .75rem $post-content-padding !default;
$post-header-bg-color:           #f5f5f5 !default;
$post-header-color:              $gray-light !default;

$post-footer-padding:            .75rem $post-content-padding !default;
$post-footer-bg-color:           #f5f5f5 !default;
$post-footer-color:              $gray-light !default;

$post-meta-margin-bottom:        .5rem !default;
$post-meta-color:                $gray-light !default;


//
// Navmenu
//

$navmenu-margin-bottom:          $spacer-y !default;
$navmenu-padding-x:              1.25rem !default;
$navmenu-padding-y:              1.25rem !default;
$navmenu-border-radius:          $border-radius !default;

$navmenu-brand-padding-x:        1.25rem !default;
$navmenu-brand-padding-y:        .5rem !default;
$navmenu-brand-font-size:        $font-size-lg !default;

$navmenu-link-padding-x:         1.25rem !default;
$navmenu-link-padding-y:         .5rem !default;

$navmenu-light-color:            rgba(0,0,0,.3) !default;
$navmenu-light-hover-color:      rgba(0,0,0,.6) !default;
$navmenu-light-active-color:     rgba(0,0,0,.8) !default;
$navmenu-light-disabled-color:   rgba(0,0,0,.15) !default;

$navmenu-inverse-color:          rgba(255,255,255,.5) !default;
$navmenu-inverse-hover-color:    rgba(255,255,255,.75) !default;
$navmenu-inverse-active-color:   rgba(255,255,255,1) !default;
$navmenu-inverse-disabled-color: rgba(255,255,255,.25) !default;


//
// Widget
//

$wg-margin-bottom:               $spacer-y !default;
$wg-font-size:                   1rem !default;
$wg-font-weight:                 $font-weight-bold !default;

// Colors

$wg-gray-light-color:            $gray-lightest !default;
$wg-gray-light-border:           darken($wg-gray-light-color, 5%) !default;

$wg-gray-dark-color:             $gray-dark !default;
$wg-gray-dark-border:            darken($wg-gray-dark-color, 5%) !default;

$wg-white-color:                 $white !default;
$wg-white-border:                rgba(0,0,0,.125) !default;

$wg-black-color:                 $black !default;
$wg-black-border:                darken($wg-black-color, 5%) !default;

$wg-red-color:                   $red !default;
$wg-red-border:                  darken($wg-red-color, 5%) !default;

$wg-orange-color:                $orange !default;
$wg-orange-border:               darken($wg-orange-color, 5%) !default;

$wg-yellow-color:                $yellow !default;
$wg-yellow-border:               darken($wg-yellow-color, 5%) !default;

$wg-green-color:                 $green !default;
$wg-green-border:                darken($wg-green-color, 5%) !default;

$wg-blue-color:                  $blue !default;
$wg-blue-border:                 darken($wg-blue-color, 5%) !default;

$wg-teal-color:                  $teal !default;
$wg-teal-border:                 darken($wg-teal-color, 5%) !default;

$wg-pink-color:                  $pink !default;
$wg-pink-border:                 darken($wg-pink-color, 5%) !default;

$wg-purple-color:                $purple !default;
$wg-purple-border:               darken($wg-purple-color, 5%) !default;

// Widget title

$wg-title-h1:                    $font-size-h1 !default;
$wg-title-h2:                    $font-size-h2 !default;
$wg-title-h3:                    $font-size-h3 !default;
$wg-title-h4:                    $font-size-h4 !default;
$wg-title-h5:                    $font-size-h5 !default;
$wg-title-h6:                    $font-size-h6 !default;

// Widget box

$wg-box-padding:                 1.25rem !default;
$wg-box-border-width:            1px !default;
$wg-box-border-radius:           $border-radius !default;
$wg-box-box-shadow:              0 1px 1px rgba(0,0,0,.05) !default;

// Widget panel

$wg-panel-content-padding:       1.25rem !default;
$wg-panel-title-padding:         .75rem $wg-panel-content-padding !default;
$wg-panel-content-bg:            #fff !default;
$wg-panel-border-width:          1px !default;
$wg-panel-border-radius:         $border-radius !default;
$wg-panel-box-shadow:            0 1px 1px rgba(0,0,0,.05) !default;

// Widget columns

$wg-columns-sm-up-column-gap:    1rem !default;
$wg-columns-md-up-column-gap:    1.25rem !default;

// Widget grid

$wg-grid-gutter-width-base:      30px !default;
