.wg-panel > .widget {
  margin-bottom: $wg-panel-margin-bottom;
  @include border-radius($wg-panel-border-radius);
  @include box-shadow($wg-panel-box-shadow);
}


//
// Widget title
//

.wg-panel > .widget > h2 {
  padding: $wg-panel-title-padding;
  margin-top: 0;
  margin-bottom: 0;
  font-size: $wg-panel-title-font-size;
  font-weight: $wg-panel-title-font-weight;
  line-height: 1.1;
  border: $wg-panel-border-width solid transparent;
  @include border-top-radius($wg-panel-border-radius);
}


//
// Widget content
//

.wg-panel > .widget > .widget-content {
  padding: $wg-panel-content-padding;
  border: $wg-panel-border-width solid transparent;
  border-top-width: 0;
  @include border-radius($wg-panel-border-radius);
  @include border-top-radius(0);

  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}

// With `.wg-title-hide`
.wg-panel.wg-title-hide > .widget > .widget-content {
  border-width: $wg-panel-border-width;
  @include border-radius($wg-panel-border-radius);
}

// Remove background
.wg-panel-transparent > .widget > .widget-content {
  background-color: transparent !important;
}


//
// Group
//

.wg-panel-group {
  margin-bottom: $wg-panel-margin-bottom;
  @include border-radius($wg-panel-border-radius);
  @include box-shadow($wg-panel-box-shadow);
}

.wg-panel-group > .widget {
  margin-bottom: 0 !important;
  @include border-radius(0);
  @include box-shadow(none !important);

  // Title
  &:not(:first-child) > h2 {
    @include border-top-radius(0);
  }
  // Content
  &:not(:last-child) > .widget-content {
    border-bottom-width: 0;
    @include border-bottom-radius(0);
  }
}


//
// Bootstrap list group flush in widget panel
//

.wg-panel .list-group-flush {
  margin: -$wg-panel-content-padding !important;

  > .list-group-item {
    border-right-width: 0;
    border-left-width: 0;
  }
  > .list-group-item:first-child {
    border-top-width: 0;
    @include border-top-radius(0);
  }
  > .list-group-item:last-child {
    border-bottom-width: 0;
    @include border-bottom-radius(calc(#{$wg-panel-border-radius} - #{$wg-panel-border-width}));
  }
}

// Within `.wg-title-hide`
.wg-panel.wg-title-hide .list-group-flush > .list-group-item:first-child {
  @include border-top-radius(calc(#{$wg-panel-border-radius} - #{$wg-panel-border-width}));
}


//
// Variations
//

.wg-panel-gray-light {
  @include wg-panel-variant($wg-gray-light-color, $wg-gray-light-border)
}
.wg-panel-gray-dark {
  @include wg-panel-variant($wg-gray-dark-color, $wg-gray-dark-border)
}
.wg-panel-white {
  @include wg-panel-variant($wg-white-color, $wg-white-border)
}
.wg-panel-black {
  @include wg-panel-variant($wg-black-color, $wg-black-border)
}
.wg-panel-red {
  @include wg-panel-variant($wg-red-color, $wg-red-border)
}
.wg-panel-orange {
  @include wg-panel-variant($wg-orange-color, $wg-orange-border)
}
.wg-panel-yellow {
  @include wg-panel-variant($wg-yellow-color, $wg-yellow-border)
}
.wg-panel-green {
  @include wg-panel-variant($wg-green-color, $wg-green-border)
}
.wg-panel-blue {
  @include wg-panel-variant($wg-blue-color, $wg-blue-border)
}
.wg-panel-teal {
  @include wg-panel-variant($wg-teal-color, $wg-teal-border)
}
.wg-panel-pink {
  @include wg-panel-variant($wg-pink-color, $wg-pink-border)
}
.wg-panel-purple {
  @include wg-panel-variant($wg-purple-color, $wg-purple-border)
}

// Outline

.wg-panel-outline-gray-light {
  @include wg-panel-outline-variant($wg-gray-light-color)
}
.wg-panel-outline-gray-dark {
  @include wg-panel-outline-variant($wg-gray-dark-color)
}
.wg-panel-outline-white {
  @include wg-panel-outline-variant($wg-white-color)
}
.wg-panel-outline-black {
  @include wg-panel-outline-variant($wg-black-color)
}
.wg-panel-outline-red {
  @include wg-panel-outline-variant($wg-red-color)
}
.wg-panel-outline-orange {
  @include wg-panel-outline-variant($wg-orange-color)
}
.wg-panel-outline-yellow {
  @include wg-panel-outline-variant($wg-yellow-color)
}
.wg-panel-outline-green {
  @include wg-panel-outline-variant($wg-green-color)
}
.wg-panel-outline-blue {
  @include wg-panel-outline-variant($wg-blue-color)
}
.wg-panel-outline-teal {
  @include wg-panel-outline-variant($wg-teal-color)
}
.wg-panel-outline-pink {
  @include wg-panel-outline-variant($wg-pink-color)
}
.wg-panel-outline-purple {
  @include wg-panel-outline-variant($wg-purple-color)
}
