.wg-box > .widget {
  padding: $wg-box-padding;
  margin-bottom: $wg-box-margin-bottom;
  border: $wg-box-border-width solid transparent;
  @include border-radius($wg-box-border-radius);
  @include box-shadow($wg-box-box-shadow);
}


//
// Widget title
//

.wg-box > .widget > h2 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-size: $wg-box-title-font-size;
  font-weight: $wg-box-title-font-weight;
  line-height: 1.1;
}


//
// Widget content
//

.wg-box > .widget > .widget-content {
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}


//
// Variations
//

.wg-box-gray-light {
  @include wg-box-variant($wg-gray-light-color, $wg-gray-light-border)
}
.wg-box-gray-dark {
  @include wg-box-variant($wg-gray-dark-color, $wg-gray-dark-border)
}
.wg-box-white {
  @include wg-box-variant($wg-white-color, $wg-white-border)
}
.wg-box-black {
  @include wg-box-variant($wg-black-color, $wg-black-border)
}
.wg-box-red {
  @include wg-box-variant($wg-red-color, $wg-red-border)
}
.wg-box-orange {
  @include wg-box-variant($wg-orange-color, $wg-orange-border)
}
.wg-box-yellow {
  @include wg-box-variant($wg-yellow-color, $wg-yellow-border)
}
.wg-box-green {
  @include wg-box-variant($wg-green-color, $wg-green-border)
}
.wg-box-blue {
  @include wg-box-variant($wg-blue-color, $wg-blue-border)
}
.wg-box-teal {
  @include wg-box-variant($wg-teal-color, $wg-teal-border)
}
.wg-box-pink {
  @include wg-box-variant($wg-pink-color, $wg-pink-border)
}
.wg-box-purple {
  @include wg-box-variant($wg-purple-color, $wg-purple-border)
}

// Outline

.wg-box-outline-gray-light {
  @include wg-box-outline-variant($wg-gray-light-color)
}
.wg-box-outline-gray-dark {
  @include wg-box-outline-variant($wg-gray-dark-color)
}
.wg-box-outline-white {
  @include wg-box-outline-variant($wg-white-color)
}
.wg-box-outline-black {
  @include wg-box-outline-variant($wg-black-color)
}
.wg-box-outline-red {
  @include wg-box-outline-variant($wg-red-color)
}
.wg-box-outline-orange {
  @include wg-box-outline-variant($wg-orange-color)
}
.wg-box-outline-yellow {
  @include wg-box-outline-variant($wg-yellow-color)
}
.wg-box-outline-green {
  @include wg-box-outline-variant($wg-green-color)
}
.wg-box-outline-blue {
  @include wg-box-outline-variant($wg-blue-color)
}
.wg-box-outline-teal {
  @include wg-box-outline-variant($wg-teal-color)
}
.wg-box-outline-pink {
  @include wg-box-outline-variant($wg-pink-color)
}
.wg-box-outline-purple {
  @include wg-box-outline-variant($wg-purple-color)
}
