// scss-lint:disable QualifyingElement

.wg-box > .widget {
  padding: $wg-box-padding;
  margin-bottom: $wg-box-margin-bottom;
  border: $wg-box-border-width solid transparent;
  @include border-radius($wg-box-border-radius);
  @include box-shadow($wg-box-box-shadow);
}


//
// Widget title
//

.wg-box > .widget > h2 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-size: $wg-box-title-font-size;
  font-weight: $wg-box-title-font-weight;
  line-height: 1.1;

  // Title only
  &:last-child {
    margin-bottom: 0;
  }
}


//
// Widget content
//

// Remove margin top and bottom for first and last element in widget content.
.wg-box > .widget .widget-content {
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}


//
// Collapse
//

.wg-box.wg-collapse > .widget,
.wg-box.wg-accordion > .widget {
  // Title
  > h2.collapsed,
  > h2.wg-title-hide-collapsing {
    margin-bottom: 0;
  }
  // Content
  > h2.wg-title-hide-collapsing + .collapsing > .widget-content {
    margin-top: .5rem;
  }
}


//
// Colors
//

@include wg-box-variant('.wg-box', $palettes)

// scss-lint:enable QualifyingElement
