// scss-lint:disable QualifyingElement

.wg-panel > .widget {
  margin-bottom: $wg-panel-margin-bottom;
  @include border-radius($wg-panel-border-radius);
  @include box-shadow($wg-panel-box-shadow);
}


//
// Widget title
//

.wg-panel > .widget > h2 {
  padding: $wg-panel-title-padding;
  margin-top: 0;
  margin-bottom: 0;
  font-size: $wg-panel-title-font-size;
  font-weight: $wg-panel-title-font-weight;
  line-height: 1.1;
  border: $wg-panel-border-width solid transparent;
  @include border-top-radius($wg-panel-border-radius);

  // Title only
  &:last-child {
    @include border-bottom-radius($wg-panel-border-radius);
  }
}


//
// Widget content
//

.wg-panel > .widget > .widget-content {
  padding: $wg-panel-content-padding;
  border: $wg-panel-border-width solid transparent;
  @include border-radius($wg-panel-border-radius);
}

// Remove margin top and bottom for first and last element in widget content.
.wg-panel > .widget .widget-content {
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}

// Widget with title (title + .widget-content)
.wg-panel > .widget > h2 + .widget-content {
  border-top-width: 0;
  @include border-top-radius(0);
}


//
// With `.wg-title-hidden`
//

.wg-panel.wg-title-hidden > .widget > .widget-content {
  border-width: $wg-panel-border-width;
  @include border-radius($wg-panel-border-radius);
}


//
// Group
//

.wg-panel-group {
  margin-bottom: $wg-panel-margin-bottom;
  @include border-radius($wg-panel-border-radius);
  @include box-shadow($wg-panel-box-shadow);
}

.wg-panel-group > .widget {
  margin-bottom: 0 !important;
  @include border-radius(0);
  @include box-shadow(none !important);

  // Title
  &:not(:first-child) > h2 {
    @include border-top-radius(0);
  }
  // Title only
  &:not(:last-child) > h2:last-child {
    @include border-bottom-radius(0);
  }
  // Content
  &:not(:last-child) > .widget-content {
    border-bottom-width: 0;
    @include border-bottom-radius(0);
  }
}


//
// Bootstrap list group flush in widget panel
//

.wg-panel .list-group-flush {
  margin: -$wg-panel-content-padding !important;

  > .list-group-item {
    border-width: 1px 0;
  }
  > .list-group-item:first-child {
    border-top-width: 0;
    @include border-top-radius(calc(#{$wg-panel-border-radius} - #{$wg-panel-border-width}));
  }
  > .list-group-item:last-child {
    border-bottom-width: 0;
    @include border-bottom-radius(calc(#{$wg-panel-border-radius} - #{$wg-panel-border-width}));
  }
}

// Within `.wg-title-hidden`
.wg-panel.wg-title-hidden .list-group-flush > .list-group-item:first-child {
  border-top-width: 0;
  @include border-top-radius(calc(#{$wg-panel-border-radius} - #{$wg-panel-border-width}));
}

// Widget with title (title + .widget-content) and (title + .widget-collapse)
.wg-panel h2 + .widget-content .list-group-flush > .list-group-item:first-child,
.wg-panel h2 + .widget-collapse .list-group-flush > .list-group-item:first-child {
  border-top-width: 0;
  @include border-top-radius(0);
}


//
// Collapse
//

// Styling

.wg-panel.wg-collapse > .widget > .widget-collapse,
.wg-panel.wg-accordion > .widget > .widget-collapse {
  border-style: solid;
  border-width: $wg-panel-border-width;
  @include border-radius($wg-panel-border-radius);

  > .widget-content {
    padding: $wg-panel-content-padding;
    @include border-radius(calc(#{$wg-panel-border-radius} - #{$wg-panel-border-width}));
  }
}

// Widget with title (title + .widget-collapse)
.wg-panel.wg-collapse > .widget > h2 + .widget-collapse,
.wg-panel.wg-accordion > .widget > h2 + .widget-collapse {
  border-top-width: 0;
  @include border-top-radius(0);

  > .widget-content {
    @include border-top-radius(0);
  }
}

// Group
.wg-panel-group {
  > .widget:not(:last-child) > .widget-collapse {
    border-bottom-width: 0;
    @include border-bottom-radius(0);

    > .widget-content {
      @include border-bottom-radius(0);
    }
  }
}

// Collapse

// Collapsed title
.wg-panel.wg-collapse > .widget > h2.collapsed:not(.wg-title-hide-collapsing),
.wg-panel.wg-accordion > .widget > h2.collapsed:not(.wg-title-hide-collapsing) {
  @include border-bottom-radius($wg-panel-border-radius);
}

// Group
.wg-panel-group {
  // Collapsed title
  > .widget:not(:last-child) > h2.collapsed:not(.wg-title-hide-collapsing) {
    border-bottom-width: 0;
    @include border-bottom-radius(0 !important);
  }
}

// Card reset
.wg-panel > .card {
  background-color: transparent;
  border: 0;
}


//
// Transparent content
//

.wg-panel-transparent > .widget > .widget-content,
.wg-panel-transparent > .widget > .widget-collapse > .widget-content {
  background-color: transparent !important;
}


//
// Colors
//

@include wg-panel-variant('.wg-panel', $palettes)

// scss-lint:enable QualifyingElement
