// scss-lint:disable QualifyingElement

.wg-basic > .widget {
  margin-bottom: $wg-basic-margin-bottom;
}


//
// Widget title
//

.wg-basic > .widget > h2 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-size: $wg-basic-title-font-size;
  font-weight: $wg-basic-title-font-weight;
  line-height: 1.1;
  background-color: transparent;

  // Title only
  &:last-child {
    margin-bottom: 0;
  }
}


//
// Widget content
//

.wg-basic > .widget > .widget-content {
  background-color: transparent;
}

// Remove margin top and bottom for first and last element in widget content.
.wg-basic > .widget .widget-content {
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}


//
// Collapse
//

// Styling content

.wg-basic > .widget > .widget-collapse > .widget-content {
  background-color: transparent;
}

// Collapse support

.wg-basic.wg-collapse > .widget,
.wg-basic.wg-accordion > .widget {
  // Title
  > h2.collapsed,
  > h2.wg-title-hide-collapsing {
    margin-bottom: 0;
  }
  // Content
  > h2.wg-title-hide-collapsing + .collapsing > .widget-content {
    margin-top: .5rem;
  }
}

// Card reset
.wg-basic > .card {
  background-color: transparent;
  @include border-radius(0);
  border: 0;
}

// scss-lint:enable QualifyingElement
