.wg-basic > .widget {
  margin-bottom: $wg-basic-margin-bottom;
}


//
// Widget title
//

.wg-basic > .widget > h2 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-size: $wg-basic-title-font-size;
  font-weight: $wg-basic-title-font-weight;
  line-height: 1.1;
}


//
// Widget content
//

.wg-basic > .widget > .widget-content {
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}
