// scss-lint:disable QualifyingElement

.wg-panel > .widget {
  margin-bottom: $wg-panel-margin-bottom;
  @include border-radius($wg-panel-border-radius);
  @include box-shadow($wg-panel-box-shadow);
}


//
// Widget title
//

.wg-panel > .widget > h2 {
  padding: $wg-panel-title-padding;
  margin-top: 0;
  margin-bottom: 0;
  font-size: $wg-panel-title-font-size;
  font-weight: $wg-panel-title-font-weight;
  line-height: 1.1;
  border: $wg-panel-border-width solid transparent;
  @include border-top-radius($wg-panel-border-radius);

  // Title only
  &:last-child {
    @include border-bottom-radius($wg-panel-border-radius);
  }
}


//
// Widget content
//

.wg-panel > .widget > .widget-content {
  padding: $wg-panel-content-padding;
  border: $wg-panel-border-width solid transparent;
  @include border-radius($wg-panel-border-radius);
}

// Remove margin top and bottom for first and last element in widget content.
.wg-panel > .widget .widget-content {
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}

// Widget with title (title + .widget-content)
.wg-panel > .widget > h2 + .widget-content {
  border-top-width: 0;
  @include border-top-radius(0);
}


//
// Support for `.wg-title-hidden`
//

.wg-panel.wg-title-hidden > .widget > .widget-content {
  border-width: $wg-panel-border-width;
  @include border-radius($wg-panel-border-radius);
}


//
// Group
//

.wg-panel-group {
  margin-bottom: $wg-panel-margin-bottom;
  @include border-radius($wg-panel-border-radius);
  @include box-shadow($wg-panel-box-shadow);
}

.wg-panel-group > .widget {
  margin-bottom: 0 !important;
  @include border-radius(0);
  @include box-shadow(none !important);

  // Title
  &:not(:first-child) > h2 {
    @include border-top-radius(0);
  }
  // Title only
  &:not(:last-child) > h2:last-child {
    @include border-bottom-radius(0);
  }
  // Content
  &:not(:last-child) > .widget-content {
    border-bottom-width: 0;
    @include border-bottom-radius(0);
  }
}


//
// Bootstrap list group flush in widget panel
//

.wg-panel .list-group-flush {
  margin: -$wg-panel-content-padding !important;

  > .list-group-item {
    border-width: 1px 0;
  }
  > .list-group-item:first-child {
    border-top-width: 0;
    @include border-top-radius(calc(#{$wg-panel-border-radius} - #{$wg-panel-border-width}));
  }
  > .list-group-item:last-child {
    border-bottom-width: 0;
    @include border-bottom-radius(calc(#{$wg-panel-border-radius} - #{$wg-panel-border-width}));
  }
}

// Within `.wg-title-hidden`
.wg-panel.wg-title-hidden .list-group-flush > .list-group-item:first-child {
  border-top-width: 0;
  @include border-top-radius(calc(#{$wg-panel-border-radius} - #{$wg-panel-border-width}));
}

// Widget with title (title + .widget-content) and (title + .widget-collapse)
.wg-panel h2 + .widget-content .list-group-flush > .list-group-item:first-child,
.wg-panel h2 + .widget-collapse .list-group-flush > .list-group-item:first-child {
  border-top-width: 0;
  @include border-top-radius(0);
}


//
// Collapse
//

// Styling content

.wg-panel.wg-collapse > .widget > .widget-collapse,
.wg-panel.wg-accordion > .widget > .widget-collapse {
  border-style: solid;
  border-width: $wg-panel-border-width;
  @include border-radius($wg-panel-border-radius);

  > .widget-content {
    padding: $wg-panel-content-padding;
    @include border-radius(calc(#{$wg-panel-border-radius} - #{$wg-panel-border-width}));
  }
}

// Widget with title (title + .widget-collapse)
.wg-panel.wg-collapse > .widget > h2 + .widget-collapse,
.wg-panel.wg-accordion > .widget > h2 + .widget-collapse {
  border-top-width: 0;
  @include border-top-radius(0);

  > .widget-content {
    @include border-top-radius(0);
  }
}

// Group
.wg-panel-group {
  > .widget:not(:last-child) > .widget-collapse {
    border-bottom-width: 0;
    @include border-bottom-radius(0);

    > .widget-content {
      @include border-bottom-radius(0);
    }
  }
}

// Collapse support

// Collapsed title
.wg-panel.wg-collapse > .widget > h2.collapsed:not(.wg-title-hide-collapsing),
.wg-panel.wg-accordion > .widget > h2.collapsed:not(.wg-title-hide-collapsing) {
  @include border-bottom-radius($wg-panel-border-radius);
}

// Group
.wg-panel-group {
  // Collapsed title
  > .widget:not(:last-child) > h2.collapsed:not(.wg-title-hide-collapsing) {
    border-bottom-width: 0;
    @include border-bottom-radius(0 !important);
  }
}

// Card reset
.wg-panel > .card {
  background-color: transparent;
  border: 0;
}


//
// Transparent content
//

.wg-panel-transparent > .widget > .widget-content,
.wg-panel-transparent > .widget > .widget-collapse > .widget-content {
  background-color: transparent !important;
}


//
// Background variants
//

@include wg-panel-variant('.wg-panel-red', $wg-panel-red-bg, $wg-panel-red-border);
@include wg-panel-variant('.wg-panel-pink', $wg-panel-pink-bg, $wg-panel-pink-border);
@include wg-panel-variant('.wg-panel-purple', $wg-panel-purple-bg, $wg-panel-purple-border);
@include wg-panel-variant('.wg-panel-deep-purple', $wg-panel-deep-purple-bg, $wg-panel-deep-purple-border);
@include wg-panel-variant('.wg-panel-indigo', $wg-panel-indigo-bg, $wg-panel-indigo-border);
@include wg-panel-variant('.wg-panel-blue', $wg-panel-blue-bg, $wg-panel-blue-border);
@include wg-panel-variant('.wg-panel-light-blue', $wg-panel-light-blue-bg, $wg-panel-light-blue-border);
@include wg-panel-variant('.wg-panel-cyan', $wg-panel-cyan-bg, $wg-panel-cyan-border);
@include wg-panel-variant('.wg-panel-teal', $wg-panel-teal-bg, $wg-panel-teal-border);
@include wg-panel-variant('.wg-panel-green', $wg-panel-green-bg, $wg-panel-green-border);
@include wg-panel-variant('.wg-panel-light-green', $wg-panel-light-green-bg, $wg-panel-light-green-border);
@include wg-panel-variant('.wg-panel-lime', $wg-panel-lime-bg, $wg-panel-lime-border);
@include wg-panel-variant('.wg-panel-yellow', $wg-panel-yellow-bg, $wg-panel-yellow-border);
@include wg-panel-variant('.wg-panel-amber', $wg-panel-amber-bg, $wg-panel-amber-border);
@include wg-panel-variant('.wg-panel-orange', $wg-panel-orange-bg, $wg-panel-orange-border);
@include wg-panel-variant('.wg-panel-deep-orange', $wg-panel-deep-orange-bg, $wg-panel-deep-orange-border);
@include wg-panel-variant('.wg-panel-brown', $wg-panel-brown-bg, $wg-panel-brown-border);
@include wg-panel-variant('.wg-panel-grey', $wg-panel-grey-bg, $wg-panel-grey-border);
@include wg-panel-variant('.wg-panel-light-grey', $wg-panel-light-grey-bg, $wg-panel-light-grey-border);
@include wg-panel-variant('.wg-panel-deep-grey', $wg-panel-deep-grey-bg, $wg-panel-deep-grey-border);
@include wg-panel-variant('.wg-panel-blue-grey', $wg-panel-blue-grey-bg, $wg-panel-blue-grey-border);
@include wg-panel-variant('.wg-panel-black', $wg-panel-black-bg, $wg-panel-black-border);
@include wg-panel-variant('.wg-panel-white', $wg-panel-white-bg, $wg-panel-white-border);


//
// Outline variants
//

@include wg-panel-outline-variant('.wg-panel-outline-red', $wg-panel-red-bg);
@include wg-panel-outline-variant('.wg-panel-outline-pink', $wg-panel-pink-bg);
@include wg-panel-outline-variant('.wg-panel-outline-purple', $wg-panel-purple-bg);
@include wg-panel-outline-variant('.wg-panel-outline-deep-purple', $wg-panel-deep-purple-bg);
@include wg-panel-outline-variant('.wg-panel-outline-indigo', $wg-panel-indigo-bg);
@include wg-panel-outline-variant('.wg-panel-outline-blue', $wg-panel-blue-bg);
@include wg-panel-outline-variant('.wg-panel-outline-light-blue', $wg-panel-light-blue-bg);
@include wg-panel-outline-variant('.wg-panel-outline-cyan', $wg-panel-cyan-bg);
@include wg-panel-outline-variant('.wg-panel-outline-teal', $wg-panel-teal-bg);
@include wg-panel-outline-variant('.wg-panel-outline-green', $wg-panel-green-bg);
@include wg-panel-outline-variant('.wg-panel-outline-light-green', $wg-panel-light-green-bg);
@include wg-panel-outline-variant('.wg-panel-outline-lime', $wg-panel-lime-bg);
@include wg-panel-outline-variant('.wg-panel-outline-yellow', $wg-panel-yellow-bg);
@include wg-panel-outline-variant('.wg-panel-outline-amber', $wg-panel-amber-bg);
@include wg-panel-outline-variant('.wg-panel-outline-orange', $wg-panel-orange-bg);
@include wg-panel-outline-variant('.wg-panel-outline-deep-orange', $wg-panel-deep-orange-bg);
@include wg-panel-outline-variant('.wg-panel-outline-brown', $wg-panel-brown-bg);
@include wg-panel-outline-variant('.wg-panel-outline-grey', $wg-panel-grey-bg);
@include wg-panel-outline-variant('.wg-panel-outline-light-grey', $wg-panel-light-grey-bg);
@include wg-panel-outline-variant('.wg-panel-outline-deep-grey', $wg-panel-deep-grey-bg);
@include wg-panel-outline-variant('.wg-panel-outline-blue-grey', $wg-panel-blue-grey-bg);
@include wg-panel-outline-variant('.wg-panel-outline-black', $wg-panel-black-bg);
@include wg-panel-outline-variant('.wg-panel-outline-white', $wg-panel-white-bg);

// scss-lint:enable QualifyingElement
