// Widget title
@mixin wg-title-variant($parent, $color) {
  #{$parent} > .widget > h2 {
    color: $color;
  }
}

// Widget box
@mixin wg-box-variant($parent, $bg, $border) {
  #{$parent} > .widget {
    background-color: $bg;
    border-color: $border;
  }
}
// Widget box outline
@mixin wg-box-outline-variant($parent, $color) {
  #{$parent} > .widget {
    background-color: transparent;
    border-color: $color;
  }
}

// Widget panel
@mixin wg-panel-variant($parent, $bg, $border) {
  #{$parent} > .widget > .widget-content,
  #{$parent} > .widget > .widget-collapse {
    border-color: $border;
  }

  #{$parent} > .widget > .widget-content,
  #{$parent} > .widget > .widget-collapse > .widget-content {
    background-color: $wg-panel-content-bg;
  }

  #{$parent} > .widget > h2 {
    background-color: $bg;
    border-color: $border;
  }
}
// Widget panel outline
@mixin wg-panel-outline-variant($parent, $color) {
  #{$parent} > .widget > .widget-content,
  #{$parent} > .widget > .widget-collapse {
    border-color: $color;
  }

  #{$parent} > .widget > .widget-content,
  #{$parent} > .widget > .widget-collapse > .widget-content {
    background-color: transparent;
  }

  #{$parent} > .widget > h2 {
    background-color: transparent;
    border-color: $color;
  }
}
