/* ==============================================
   Main navbar
   ============================================== */

.bd-navbar .navbar-nav .nav-link {
  color: #a78f7c;
}
.bd-navbar .navbar-nav .nav-link.active,
.bd-navbar .navbar-nav .nav-link:hover,
.bd-navbar .navbar-nav .nav-link:focus {
  color: #292b2c;
  background-color: transparent;
}
.bd-navbar .navbar-nav .nav-link.active {
  color: #040404;
}


/* ==============================================
   Masthead
   ============================================== */

 .bd-masthead {
   color: #ffe5d0;
   background-image: -webkit-linear-gradient(315deg, #893e00, #ef6c00, #ff943d);
   background-image: -o-linear-gradient(315deg, #893e00, #ef6c00, #ff943d);
   background-image: linear-gradient(135deg, #893e00, #ef6c00, #ff943d);
 }
 .bd-masthead .bd-booticon {
   color: #ffe5d0;
   border-color: #ffe5d0;
 }
 .bd-masthead .lead {
   color: #fff;
 }
 .bd-masthead .btn {
   color: #ffe484;
   border-color: #ffe484;
 }
 .bd-masthead .btn:hover {
   color: #463c34;
   background-color: #ffe484;
   border-color: #ffe484;
 }


 /* ==============================================
    Page header
    ============================================== */

 .bd-pageheader {
  color: #ffe5d0;
  background-color: #ef6c00;
}
.bd-pageheader h1 {
  color: #fff;
}


 /* ==============================================
    Buttons
    ============================================== */

 .btn-bs {
  font-weight: 500;
  color: #ff8f33;
  border-color: #ff8f33;
}
.btn-bs:hover,
.btn-bs:focus,
.btn-bs:active {
  color: #fff;
  background-color: #ff8f33;
  border-color: #ff8f33;
}
